button{
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Reboto,sans-serif;
  font-weight: bold;
  color: rgb(245, 245, 245);
  border-radius: 15px;
  margin:5px;
  cursor: pointer;

}

button:hover{
  background-color:rgba(243, 243, 243, 0.089);

}

.boton-clic{
  background-color:rgb(19, 19, 219);
  
}
.boton-reiniciar{
  background-color:rgb(235, 11, 11);

}